<div class="edit_back_image">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        
        <%= form_for(@user) do |f| %>
          <div class="back_white">
            <!-- エラーメッセージ表示-->
            <% if @user.errors.any? %>
              <div class="error_title">入力内容が不適切です:</div>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li class="error_body"><%= message %></li>
                <% end %>
              </ul>
            <% end %>
            <!-- エラーメッセージ表示-->
            <div class="float_window">
              <div class="user_info">
                <table class="table">
                  <tr>
                    <th class="title">画像</th>
                    <td>
                      <%= attachment_image_tag(@user, :user_image, :fill, 200, 200, fallback: "no_image.jpg", size: "200x200") %>
                      <div id="result"></div>
                        <%= f.attachment_field :user_image, class:"file" %>
                    </td>
                  </tr>
                  <tr>
                    <th class="title">ニックネーム</th>
                    <td class="field">
                      <%= f.text_field :name, autofocus: true, class:"edit_input" %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">性別</th>
                    <td class="field">
                      <%= f.select :sex, ["男性","女性","非公開","その他"] %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">年齢</th>
                    <td class="field">
                      <%= f.number_field :age, class:"edit_input" %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">担当楽器</th>
                    <td class="field">
                      <%= f.select :instrument, [["ギター","ギター"],["ベース","ベース"],["ドラム","ドラム"],["ボーカル","ボーカル"],["キーボード","キーボード"],["その他","その他"]] %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">自己評価点</th>
                    <td class="field">
                      <%= f.select :level, [["1 (初心者)","1"],["2 (簡単な曲なら弾ける)","2"],["3 (簡単な曲なら耳コピができる)","3"],["4 (簡単なセッションができる)","4"],["5 (セッションができる)","5"]] %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">活動地域</th>
                    <td class="field">
                      <%= f.grouped_collection_select(:region, Region.all, :prefectures, :region_name, :prefecture_name, :prefecture_name) %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">チャット設定</th>
                    <td class="field">
                      <%= f.select :chat_flag, [["受信を許可する","true"],["受信を拒否する","false"]] %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">メールアドレス</th>
                    <td class="field">
                      <%= f.text_field :email, autocomplete: "email", class:"edit_input" %>
                    </td>
                  </tr>

                  <tr>
                    <th class="title">自己紹介</th>
                    <td></td>
                  </tr>
                </table>
                <%= f.text_area :introduction, class:"introduction" %>
              </div>

              <div class="edit_btn">
                <%= f.submit "更新する", class:"btn btn-primary btn-md"%>
                <%= link_to "退会する", user_registration_path, method: :delete, data: {confirm:"退会しますか？"}, class:"btn btn-danger btn-md" %>
            <% end %>
          </div>
          <div id="push">＊通知設定はこちらから</div>
        </div>
      </div>
    </div>
  </div>
</div>
