<div class="room_back_image">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="back_white">
                    <span><%= current_user.name %>さんのチャットルーム一覧</span>
                    <table class="table table-hover">
                        <% @rooms.each do |room| %>
                            <tr>
                                <% if room.host_id == current_user.id %>
                                    <% user = User.where(id: room.member_id).first %>
                                <% else %>
                                    <% user = User.where(id: room.host_id).first %>
                                <% end %>

                                <td>
                                    <%= link_to room_path(room) do %>
                                        <%= attachment_image_tag(user, :user_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40") %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to room_path(room) do %>
                                        <%= user.name %>
                                    <% end %>
                                </td>
                                <% if message = room.messages.order(created_at: :desc).first %>
                                    <td>
                                        <div class="time"><%= message.created_at.strftime('%m/%d %H:%M') %></div>
                                        <div id="new_message"><%= message.content.truncate(20) %></div>
                                    </td>
                                <% else %>
                                    <td>メッセージはありません</td>
                                <% end %>
                            </tr>
                        <% end %>
                    </table>
                    <div class="page_count">
                        <% if @rooms.count == 0 %>0 〜
                        <% else %>
                            <%= @rooms.current_page * @per - @per + 1 %>〜
                        <% end %>
                        <%= @rooms.current_page * @per - @per + @rooms.count %>件目を表示 / 全
                        <%= @rooms_all.count %>件
                    </div>
                    <%= paginate @rooms %>
                </div>
            </div>
        </div>
    </div>
</div>